.navigation {
	width: 59.2%;
}

.navigation__btn-menu {
	display: none;
	margin-left: 376px;
    padding: 0;
    width: 40px;
    height: 38px;
    outline: none;
    border: none;
	background: transparent url('../../images/icon-menu.svg') center center / cover no-repeat;
	transition: opacity .2s linear;
}

.navigation__btn-menu:hover {
	opacity: .6;
	cursor: pointer;
}

.navigation__sidebar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navigation__list-container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 7px 18px 0px 0px;
}

.navigation__btn-close {
	display: none;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	margin-left: 10px;
	outline: none;
	border: none;
	background: transparent url('../../images/icon-close.svg') center center / 32px no-repeat;
	align-self: flex-end;
	transition: opacity .2s linear;
}

.navigation__btn-close:hover {
	opacity: .6;
	cursor: pointer;
}

.navigation__list {
	display: flex;
	padding: 0;
	list-style: none;
}

.navigation__list-item {
	margin: 0 20px 0 0;
}

.navigation__list-item:last-child {
	padding-bottom: 6px;
}

.navigation__list-item_type_main {
	display: none;
}

.navigation__link {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	transition: opacity .2s linear;
}

.navigation__link_active {
	font-weight: 500;
}

.navigation__link:hover {
	opacity: .6;
	cursor: pointer;
}

.navigation__link_type_profile {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	width: 80px;
	height: 30px;
	margin: 0;

	font-size: 14px;
	padding: 0px 33px 0px 0px;
}

.navigation__link_type_profile::before {
	content: '';
	right: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #F4F4F4 url('../../images/akk-icon.svg') center no-repeat;
	border-radius: 6px;
}

@media screen and (max-width: 800px) {
	.navigation__btn-menu {
		display: flex;
	}

	.navigation__container {
		display: none;
	}

	.navigation__container_visible {
		display: flex;
		position: fixed;
		width: 100%;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .3);
		z-index: 2;
	}

	.navigation__sidebar {
		box-sizing: border-box;
		width: 520px;
		min-height: 100vh;
		margin-left: auto;
		flex-direction: column;
		padding: 22px 22px 105px;
		background-color: #fff;
		justify-content: flex-start;
	}

	.navigation__list-container {
		width: 100%;
	}

	.navigation__btn-close {
		display: flex;
	}

	.navigation__list {
		flex-direction: column;
		margin: 110px auto 0;
		padding-left: 11px;
		align-items: center;
	}

	.navigation__list-item {
		margin: 0 0 23px;
	}

	.navigation__list-item_type_main {
		display: flex;
	}

	.navigation__link {
		padding: 0 0 4px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		text-decoration: none;
	}

	.navigation__link_active {
		border-bottom: 2px solid #000;
	}

	.navigation__link_type_profile {
		font-size: 14px;
		position: absolute;
		bottom: 67px;
		margin-right: 8px;
		padding: 0px 40px 0px 0px;
	}
}

@media screen and (max-width: 450px) {

	.navigation__btn-close {
		margin-right: 108px;
	}

	.navigation__sidebar
	{
		height: 172vh;
	}

	.navigation__link_type_profile {
		position: absolute;
		font-size: 14px;
		top: 710px;
		left: 208px;
		margin-right: 8px;
	}

	.navigation__link_type_profile::before {
		width: 43px;
	}

	.navigation__list {
		margin: 105px auto 0;
	}

	.navigation__sidebar {
		padding: 18px 18px 46px;
		width: 200%;
	}

	.navigation__list-item {
		margin: 0 0 20px;
	}

	.navigation__link_type_profile {
		bottom: 55px;
	}
}